//them

$color-primary: #20232a;
$color-primary-light: #fff;
$color-primary-text:#20232a;
$color-secondary-text: #f7eeeed3;
$color-gold:#011ccc;
$color-secondary-gold:#20232a;
$color-secondary-grey: #f4f4f4;
$color-links:#470E52;
$vartical-text: rgb(210, 169, 142);
//$color-gold: #61dafb;#F2F8FB;
//$color-gold:#470E52;
$color-gold-darker: #011ccc38;
$color-gold-v: rgb(210, 169, 142);
$color-white: rgb(95, 94, 94);
$color-black: #000;
//$color-gold: #1F2235;
//background-color: #1F2235;
//#470E52
$color-grey: #E9E6E1;
$color-tertiary-light: #2998ff;
$color-tertiary-darker: #5643fa;
$color-tertiary-dark: #2680eb;
$color-white: #fff;




//import { BrowserRouter, Route, Link } from "react-router-dom";

//$color-gold: rgb(210, 169, 142);
$color-text: #f9f7f6;
$color-tr-gold: rgba(210, 169, 142, 0.753);
$color-primary-text-2:  #61dafb;
$color-secondary-light: #61dafb;
$color-grey-dark-4: #ddd;
$color-white: #fff;
$color-black: #000;



//$color-primary-light: rgb(40, 44, 52);

/*

$color-primary-light: #AE09AE;
$color-primary: #20232a;
$color-gold: rgb(210, 169, 142);
$color-text: #f9f7f6;
$color-primary-text: #f7eeeed3;
$color-grey-dark-4: #ddd;
$color-white: #fff;
$color-black: #000;#AE09AE

*/

$color-primary-b: #0a192f;
//$color-primary-light: #1d1e2b; #bcac76;#877f64;

$color-primary-light-5: #303c55cb;

$color-text: #f9f7f6;
$color-links: #888;
//$color-gold: rgb(210, 169, 142);
//$color-gold: #bcac76;
$color-gold-2: rgba(250, 140, 50, 0.6);
$color-hover-btn: rgb(168, 178, 209);

// COLORS
//$color-primary: #55c57a;
//$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

//$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;



$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #ddd;



// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
