/* -- Heading with border -- */
.hero-full-container{
  min-height: 90vh;
  
  
  //background-image: url('../../images/cube-blast.svg');
  background-color: $color-gold;
  background-repeat: no-repeat;
  background-attachment:fixed;
  //background-position: left;
  //background-color: #F2F8FB;
  b
  a{
    text-decoration: none;
  }

.hero__context {
  .hero__header{
    color: $color-text;
  }
  p{
    color: $color-white;
  }
 color: $color-white;
  .hero__section {
    margin-top: 20%;
    @include respond(phone) {
      margin-top: 50%;
    }
  }
}
}