.imgrb-box {
  position: relative;
  border-radius: 0rem;
  width: 70%;
  padding: 15px;
  overflow: hidden;
  margin: 0 auto;
  @include respond(phone) {
    width: 100%;
  }
}
.imgrb-box::before {
  content: '';
  position: absolute;
  left: 40px;
  border-radius: 0rem;
  right: 0;
  bottom: 50px;
  top: 50px;
  border: 1px solid #ddd;
  //background-color: #ddd;
  transform-origin: right 40%;
  z-index: -2;
  transition: 0.5s ease-in-out all;
}
/*.codepen-box:hover::before {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.5s ease-in-out all;
}*/
.imgrb-box .top {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 300px;
}
.imgrb-box .top .top-image {
  height: 250px;
  object-fit: cover;
}
.imgrb-box .top .top-image img {
  width: 100%;
  border-radius: 0rem;
  height: 100%;
  object-fit: cover;
}

.imgrb-box .top .profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  padding: 5px 0;
}
.imgrb-box .top .profile .profile-pic {
  display: block;
  margin-right: 10px;
}
.imgrb-box .top .profile .profile-pic img {
  border-radius: 0.2rem;
  height: 40px;
  object-fit: cover;
  width: 40px;
}
.imgrb-box .top .profile .profile-info {
  display: block;
  width: fit-content;
}
.imgrb-box .top .profile .profile-info h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: $default-font-size;
  font-weight: 700;
  color: $color-gold;
}
.imgrb-box .top .profile .profile-info p {
  font-size: 12px;
  margin: 0;
}
.imgrb-box .bottom {
  height: 40px;
  padding: 5px 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.imgrb-box .bottom .bottom-item:nth-child(1) {
  transition-delay: 0.1s;
}
.imgrb-box .bottom .bottom-item:nth-child(2) {
  transition-delay: 0.15s;
}
.imgrb-box .bottom .bottom-item:nth-child(3) {
  transition-delay: 0.2s;
}
.imgrb-box .bottom .bottom-item {
  transition: 0.3s ease-in-out all;
  height: 30px;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  margin: 4px 5px 0 0;
  background-color: $color-gold;
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  border-radius: 0rem;
  opacity: 0;
  transform: translateY(-20px);
}
.imgrb-box .bottom .bottom-item span:first-child {
  margin-right: 5px;
}

.imgrb-box:hover .bottom-item {
  transition: 0.3s ease-in-out all;
  opacity: 1;
  transform: translateY(0px);
}

.img--caver {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid $color-gold;
}

.image {
  width: 100%;
  height: 100%;
}

.img--caver::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  //opacity: 0.;
  //background: $color-gold-light;
}

.grow:hover
{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.fade
{
  background-color: $color-gold;
}
.fade:hover
{
  opacity:1;
}