.project-features {
  background-image: url(../../images/dio.svg);
  background-repeat: repeat;
  background-attachment:fixed;
  .crd{

    margin-top: 8rem;

    @include respond(tab-port) {
      margin-top: 0rem;
    }
    .row {
      [class^='col-'] {
        &:not(:last-child) {
          margin-right: 4rem;
          margin-bottom: 4rem;
        }
      }
    }
  }   
  .project__container {
    display: table;
    width: 100%;  
  }
}

.feature-box {
  position: relative;
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 0px;
  background-color: #ddd;
  border: 1px dashed  #ddd;
  color: $color-gold;
  text-align: center;
  border-radius: 2px;
  @include respond(tab-port) {
    padding: 2rem;
  }

  .feature-box__text {
    padding: 1rem;
    border-bottom: 1px dashed $color-gold;
  }

  .show--project {
    position: absolute;
    transform: translate(-1%, -70%);
    left: 100;
    right: 0;
    padding: 0rem;
    color: $color-gold;
    z-index: 100;
  }

  .show-hide-project {
    display: block;
  }

  &--icon {
    width: 5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    color: transparent;
    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    //background-color: $color-grey;
    border: 1px solid $color-gold;
    //background-image: url(../../images/bg/title-bar-01-bg.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
  }

  .project-progrmming-l {
    display: block;
  }

  .feature-box__btn {
    text-align: center;
    padding: 0;
    margin: 0 auto;

    .btn--full {
      background-color: $color-gold;
      border: 1px solid $color-gold;;
    }
  }
}
.feature-box__btn__lst {
  display: block;
  text-align: center;
  padding: 0;
  margin-top: 7rem;
}

