/*------vertical Text-------------*/
.jxlTta {
  display: block;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    'Lucida Console', Monaco, monospace;
  font-size: 12px;
  letter-spacing: 0.1em;
  //color: $color-secondary-text;
  color: yellowgreen;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  //float: left;
  margin-top: 18%;
  font-style: italic;
  margin-left: 5%;
  //padding: 2rem;
  position: fixed;
  font-weight: bold;
  transition: all $transition-med $transition-ease;
  //position: relative;
  //pointer-events: none;
  text-decoration: none;

  a{
    text-decoration: none;
    color: yellowgreen;
  }
  @include respond(tab-port) {
    margin-top: 50%;
  }
}

.jxlTta::after {
  display: block;
  height: 31rem;
  content: ' ';
  background-color: yellowgreen;
  align-content: center;
  transform: translate(580%, 15rem);
  text-align: center;
  width: 1px;
  pointer-events: auto;
  transition: all $transition-med $transition-ease;
}

.yyh::after {
  display: block;
  height: 26rem;
   content: ' ';
  background-color: yellowgreen;
  transform: translate(580%, 15rem);
  text-align: center;
  width: 1px;
  transition: all $transition-med $transition-ease;
}

/*------vertical Text-------------*/
.yyh {
  display: block;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    'Lucida Console', Monaco, monospace;
  font-size: 12px;
  letter-spacing: 0.1em;
  //color: $color-secondary-text;
  //color: $color-white;
  text-decoration: none;
  color: yellowgreen;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  //float: left;
  margin-top: 18%;
  margin-left: 92%;
   //padding-right: 95rem;
  position: fixed;
  font-weight: bold;

  transition: all $transition-med $transition-ease;
  //position: relative;
  //font-style: italic;
  @include respond(tab-port) {
    margin-top: 50%;
  }
}

.j_xlTta {
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    'Lucida Console', Monaco, monospace;
  font-size: 12px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin: 55%;
  position: fixed;
}

.j_xlTta::after {
  display: block;
  height: 20rem;
  background-color: $color-gold;
  content: ' ';
  align-content: center;
  width: 1px;
  transform: translate(80%, 100%);
}

.juoHJq::after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  background-color: $color-gold;
  margin: 0px auto;
}

.krfQUW {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: $color-gold;
}
